body{
	background-color: blue;
	font-family: "Times New Roman", Times, serif;
	background-size: cover;
	background-attachment: fixed;
}
h1{
	color:black;
	text-align: center;
}
form{
	text-align:right;
}


.top_logout{
	height: 40px;
	position: relative;
	background-color:yellow;
	background-position: bottom;
	border-color: black;
	width:auto; 
	max-width: 100%;
	max-height: 100%;
}

.topLoginBar {
	height: 140px;
	position: relative;
	background-color:gray;
	background-position: bottom;
	border-color: black;
	width:auto; 
	max-width: 100%;
	max-height: 100%;
}

.topLogo{
	color:white;
	float:left;
	border-style:solid;
	border-color: gray;
	vertical-align: center;
}
.topLogo a{
	text-align: center;
}
.topLogo img{
	max-width: auto;
	max-height: auto;
	vertical-align: center;
}

.topUnamePass{
	border-color: gray;
	color:white;
	border-style:solid;
	position: relative;
	text-align: right;
	vertical-align: center;
	float:right;
}


.topUnamePass form{
	text-align: center;
}

.topUnamePass form button{
	text-align: center;
	font-family: 'Comic Sans MS';
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
}




.signUp{
	position: relative;
	vertical-align: center;
	text-align: left;
	float:right;
	color:black;
}

.signUp p{
	text-align: center;
	font-family: 'Comic Sans MS';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
}


.signUp form{
	text-align: center;
}

.signUp form button{
	text-align: center;
	font-family: 'Comic Sans MS';
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
}


.center_wrap{
	position: relative;
	/*background-color:blue;*/
	width: 100%;
	height: 100%
}
.test2{
	position: absolute;
	top:200px;
	right:0px;
}

.chat_wrap{
	position: absolute;
	left: 0px;
	background-color:red;
	background-position: bottom;
	border-color: black;
	min-height: 1000px;
	min-width: 500px;
	max-width: 500px;
	max-height:1000px;
}

.side_bar{
	position: absolute;
	right: 0px;
	background-color:yellow;
	background-position: bottom;
	border-color: black;
	width:auto; 
	max-width: 200px;
	max-height: 1400px;
}

.add_friends{
	position: relative;
	border-color: black;
	background-color: yellow;
	max-height: 200px;
	max-width: 200px;
}
.list_friends{
	position: relative;
	border-color: black;
	background-color: red;
	max-width: 200px ;
	max-height: 1200px;
}

.b_friend{
	position: absolute;
	right: 0px;
	width: 200px;
}